# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 追加
kernel.elf
kernel/hankaku.bin

apps/onlyhlt/onlyhlt
apps/rpn/rpn
apps/large/large
apps/winhello/winhello
apps/stars/stars
apps/lines/lines
apps/eye/eye
apps/paint/paint
apps/cube/cube
apps/blocks/blocks
apps/fault/fault
apps/readfile/readfile
apps/grep/grep
apps/timer/timer
apps/cp/cp
apps/dpage/dpage
apps/mmap/mmap
apps/sort/sort
apps/more/more
apps/tview/tview
apps/gview/gview

disk.img
mnt
